# Configuración de MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=escribe_tu_contrasena
DB_NAME=biblioteca_escolar

# Configuración de FastAPI
API_HOST=127.0.0.1
API_PORT=8000

# Dirección utilizada por Flet
API_URL=http://127.0.0.1:8000