# ==========================================================
# VARIABLES DE ENTORNO
# ==========================================================

.env
.env.local


# ==========================================================
# ENTORNOS VIRTUALES
# ==========================================================

.venv/
venv/
env/


# ==========================================================
# ARCHIVOS GENERADOS POR PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================================
# PYCHARM Y OTROS EDITORES
# ==========================================================

.idea/
.vscode/


# ==========================================================
# ARCHIVOS GENERADOS POR FLET
# ==========================================================

.flet/
build/
dist/


# ==========================================================
# ARCHIVOS DEL SISTEMA OPERATIVO
# ==========================================================

.DS_Store
Thumbs.db


# ==========================================================
# REGISTROS Y ARCHIVOS TEMPORALES
# ==========================================================

*.log
*.tmp